.pagination_wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
 
    h5 {
      text-align: center;
      border-radius: 16px;
      width: 31px;
      padding: 7px 0px;
      background: rgba(72, 26, 26, 0);
      color: #9095a0;
      font-family: var(--mulish);
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      cursor: pointer;
      height: 31px;
      display: flex;
      line-height: 18px;
      align-items: center;
      justify-content: center;
      word-spacing: 10px;
      &:active{
        color: #1eff00;
        font-size: 13px;
      }

    }
    .list_numbers_icon{
      font-size: 20px !important;
     cursor: pointer;
     &:hover{
       color: #00b9f2;
     }
    }
 
    .back_arrow, .next_arrow, .list_numbers_icon {
      cursor: pointer;
      // margin-right: 10px;
      color: #9095a0;
      font-size: 14px;
      width: 31px;
      height: 31px;
      align-items: center;
      justify-content: center;
      display: flex;
      &:active{
        color: #1eff00;
        font-size: 13px;
      }
  }

    
 
    .active_page {
      color: #00b9f2;
      border: 1px solid #00b9f2;
    }
 
    .list_numbers_icon {
      margin: 0 5px;
    }
  }