.news_blogs_banner_wrap {
  height: 715px;
  background: url("https://loopwebsite.s3.ap-south-1.amazonaws.com/Hero+(2).png")
    no-repeat center / cover;
  width: 100%;
  position: relative;

  &.leftAlign {
    transform: scaleX(-1);
    .content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 360px;
      .title,
      .description {
        transform: scaleX(-1);
        text-align: left;
      }
      .view_btn {
        padding: 10px 40px 10px 10px;
        transform: scaleX(-1);
      }
      .arrow_btn {
        position: absolute;
        top: 30% !important;
        left: 165px !important;
        transform: scaleX(-1) !important;
      }
    }
  }

  .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .title {
      color: var(--black);
      font-size: 70px;
      font-style: normal;
      font-weight: 500;
      line-height: 77px;
      /* 110% */
      letter-spacing: -3.5px;
      margin-bottom: 16px;
      // text-align: right;
    }

    .description {
      color: var(--para-light);
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 24px;
      width: 54%;
      // text-align: right;
      margin-left: auto;
    }

    .view_btn {
      padding: 16px 28px 5px 60px;
      font-size: 18px;
      font-weight: 500;
      // margin-left: auto;
      position: relative;

      .arrow_btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 32px;
      }
    }
  }
}

.main_card_wrap {
  padding: 88px 0;

  .card {
    width: 966px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 86px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    background: var(--white);
    box-shadow: 0px 5px 4px 0px rgba(221, 221, 221, 0.25);

    .card_body {
      padding: 30px;

      .title {
        color: var(--black);
        // text-align: right;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 16px;
      }

      .subTitle {
        color: var(--text-fade, rgba(0, 26, 88, 0.51));
        // text-align: right;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
        margin-bottom: 24px;
      }

      .date_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .seeMore {
          color: var(--Accent, #00b9f2);
          // text-align: right;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }

        .date {
          color: var(--600, #718096);
          // text-align: right;
          font-size: 12px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
    }
     .image {
        border-radius: 5px;
        margin-right: 4px;
      }
  }
}

.latest_new_card_wrap {
  padding-bottom: 88px;

  .main_heading {
    color: rgba(14, 23, 47, 0.7);
    // text-align: right;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
  }

  .card_group {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;

    .card {
      border-radius: 5px;
      border: 1px solid #e2e2e2;
      background: var(--white);
      box-shadow: 0px 5px 4px 0px rgba(221, 221, 221, 0.25);
      width: 280px;
    //   height: 420px;
      overflow: hidden;

      .card_image {
        object-fit: cover;
        object-position: center;
        height: 154px;
        width: 100%;
      }

      .card_body {
        display: flex;
        padding: 16px 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;

        .title {
          color: var(--black);
        //   text-align: right;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 8px;
        height: 37px;

        }

        .subTitle {
          color: var(--text-fade, rgba(0, 26, 88, 0.51));
        //   text-align: right;
          font-size: 13px;
          font-style: normal;
          font-weight: 300;
          line-height: 16px;
          margin-bottom: 20px;
          height: 80px;
        }

        .date_wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          width: 100%;

          .seeMore {
            color: var(--Accent, #00b9f2);
            // text-align: right;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            background-color: transparent;
            border: none;
            cursor: pointer;
          }

          .date {
            color: var(--600, #718096);
            text-align: right;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
        }
      }
    }
  }
}

.trending_card_wrap {
  padding-bottom: 88px;

  .card {
    width: 995px;
    display: flex;
    align-items: center;
    align-items: flex-start;
    gap: 44px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(20, 80, 152, 0.06);

    .card_body {
      padding: 34px;

      .trending_btn {
        padding: 7px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: flex;
        border-radius: 18px;
        background: var(--secondary);
        color: var(--white);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.28px;
        margin-bottom: 34px;
        border: none;
        cursor: pointer;
      }

      .title {
        color: var(--black);
        // text-align: right;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 16px;

      }

      .subTitle {
        color: var(--text-fade, rgba(0, 26, 88, 0.51));
        // text-align: right;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        margin-bottom: 24px;
        height: 150px;
      }

      .date_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .seeMore {
          color: var(--primary);
        //   text-align: right;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }

        .date {
          color: var(--600, #718096);
        //   text-align: right;
          font-size: 12px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
    }
  }
}
