.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* login background */
.l-bg{
  background-position: center;
  background-size: cover;
  transition: .2s linear all;
}
/* carousel status */
.carouselStatus{
  position: fixed;
  left: 6vw;
  bottom: 10vh;
  display: flex;
  gap: .5rem;
}
.carouselDot{
  background-color: rgb(80, 80, 80);
  height: .91rem;
  width: .91rem;
  border-radius: 50%;
  transition: .1s linear background-color;
}

/* removing the spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* input[type="number"] {
  -moz-appearance: textfield;
} */
#left-sidebar-drawer:not(:checked) ~ .drawer-side #sidebar-close-btn {
  display: none;
}

nav.customscroller::-webkit-scrollbar {
  height: 5px; /* Use height instead of width for horizontal scrollbar */
  border-radius: 0px 0px 10px 10px ;
}

nav.customscroller::-webkit-scrollbar-thumb {
  height: 10px; /* Use height instead of width */
  background-color: #282c34;
  border-radius: 0px 0px 10px 10px ;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
