@font-face {
  font-family: "BankGothic-Regular";
  src: url("../public/font/bankgothic-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BankGothic-Regular-db";
  src: url("../public/font/bankgothic-regulardb.ttf") format("truetype");
}

@font-face {
  font-family: "BankGothic-Russ-Medium";
  src: url("../public/font/BankGothicRUSSMedium.ttf") format("truetype");
}

@font-face {
  font-family: "BankGothic-Regular-MD-Bt";
  src: url("../public/font/BankGothic_Md_BT.ttf") format("truetype");
}

@font-face {
  font-family: "BankGothic-Medium-bt";
  src: url("../public/font/BankGothicMediumBT.ttf") format("truetype");
}

.bankgothic-regular {
  font-family: "BankGothic-Regular";
}

.bankgothic-regular-db {
  font-family: "BankGothic-Regular-db";
}

.bankgothic-regular-db-mt {
  font-family: "BankGothic-Regular-MD-Bt";
}

.bankgothic-russ-medium {
  font-family: "BankGothic-Russ-Medium";
}

.bankgothic-medium-dt {
  font-family: "BankGothic-Medium-bt";
}

/* --------------------------------- */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ------------------------------------------------------ */

/* login background */
.l-bg {
  background-position: center;
  background-size: cover;
  transition: .2s linear all;
}

/* carousel status */
.carouselStatus {
  position: fixed;
  left: 6vw;
  bottom: 10vh;
  display: flex;
  gap: .5rem;
}

.carouselDot {
  background-color: rgb(80, 80, 80);
  height: .91rem;
  width: .91rem;
  border-radius: 50%;
  transition: .1s linear background-color;
}

.custom-forced-color {
  color: #3b4152 !important;
}

.Toastify__toast-container {
  z-index: 9999 !important;
}

/* removing the spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type="number"] {
  -moz-appearance: textfield;
} */
#left-sidebar-drawer:not(:checked)~.drawer-side #sidebar-close-btn {
  display: none;
}

/* ------------------------- Scroll Bar Style ----------------------------------- */
.customscroller::-webkit-scrollbar-track {
  background-color: #dbdbdb;
}

.customscroller::-webkit-scrollbar {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 5px;
}

.customscroller::-webkit-scrollbar-thumb {
  height: 10px;
  /* Use height instead of width */
  width: 2px;
  background-color: #0e2b65;
  border-radius: 1px;
}

main.customscroller::-webkit-scrollbar {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 8px;
}

main.customscroller::-webkit-scrollbar-thumb {
  height: 10px;
  /* Use height instead of width */
  width: 2px;
  background-color: #0e2b65;
  border-radius: 1px;
}

.customscroller-2::-webkit-scrollbar {
  width: 2px;
}

.customscroller-2::-webkit-scrollbar-thumb {
  background-color: #0e2b65;
  width: 3px;

}

nav.customscroller {
  position: relative;
}

nav.customscroller::-webkit-scrollbar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
}

nav.customscroller::-webkit-scrollbar-thumb {
  height: 2px;
  /* Use height instead of width */
  width: 5px;
  background-color: #0e2b65;
  border-radius: 10px;
}

.rm-scroll::-webkit-scrollbar {
  display: none;
}

.rm-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.shadow-xl-custom {
  box-shadow: 0px 10px 20px -5px #00000080;
}

.capitalize {
  text-transform: capitalize !important;
}

input[type="file"] {
  width: 200px;
  padding: 5px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background: #f8f9fa;
  color: #333;
  cursor: pointer;
}

.custom-placeholder::placeholder {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-weight: 300; */
  /* font: lighter normal 14px/1.5 Calibri ; */
  /* font-weight: lighter; */
  font: lighter normal 14px/1.5 "Sans";
}


select {
  appearance: none;
  /* Removes default styles */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
  font-size: 16px;
  color: #899197;
  /* Change text color */
  /* background-color: yellow; */
  /* Change background */
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

select:focus {
  border: 1px solid #a7a7a7;
}



.transition-custom {
  transition: width .1s linear;
}



.custom-text-color label {
  color: #6B7888;
  /* color: #979ca2; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.shadow-md-custom {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.clip-concave {
  /* clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%); */
  font-size: 12px !important;
  width: fit-content !important;
  padding: 2px 6px;
  border-radius: 0px 5px 5px 0px;
}

.comment-bubble {
  position: relative;
  background: #f3f4f6;
  padding: 1rem;
  border-radius: 8px;
  width: 30vw;
  height: 30vh;
  font-size: 14px;
  color: #111827;
  margin-left: 20px;
  /* space for the arrow */
  box-shadow: 1px 1px 5px #80808080;
}

/* .comment-bubble-arrow {
  position: absolute;
  left: 100%;
  top: 5px;
  height: 10px;
  width: 10px;
  padding: 10px;
  background-color: #f3f4f6;
  clip-path: polygon(0% 0%, 80% 50%, 0% 100%);
  filter: drop-shadow(1px 1px 5px black);
} */

/* .comment-bubble::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 3%; 
  right: -9px; 
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f3f4f6; 
} */

.test {
  color: #29469c80;
}

.custom-position {
  top: calc(50% - 132);
}

.jodit-toolbar__box {
  background-color: #a2a5ad !important;
  /* Dark background */
  /* border-radius: 8px 8px 0px 0px !important; */
  border: none !important;
}

.jodit-container {
  /* border: 1px solid #808080 !important; Blue border */
  border-radius: 8px !important;
  overflow: hidden;
}

/* Style toolbar buttons */
.jodit-toolbar-button {
  color: white !important;
  /* Text color */
  background-color: transparent !important;
  border-radius: 5px;
  transition: 0.3s;
}

.jodit-wysiwyg {
  background-color: #f4f4f4 !important;
  /* Light Gray */
  color: #333 !important;
  /* Dark text */
  padding: 10px !important;
  border-radius: 5px;
}

.jodit-toolbar-button:hover {
  background-color: #017392 !important;
  /* Blue hover effect */
}

div.importantList ul {
  list-style-type: disc !important;
}


.custom-select:focus {
  border: none !important;
  outline: none !important;
}

.react-datepicker__input-container input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  outline: none;
  font-size: 12px !important;
}

.react-datepicker__input-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 3px #007bff80;
}

/* Style for the input element */
.react-datepicker__input-container input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  /* font-size: 16px; */
  width: 100%;
  outline: none;
  box-shadow: 0px 1px 5px #00000050;
  font-size: 14px !important;

}

.react-datepicker__input-container input:focus {
  /* border-color: #007bff; */
  /* box-shadow: 0 0 3px #007bff80; */
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  outline: none;
  /* box-shadow: 0px 2px 5px #00000088; */
}

/* Calendar container style */
.react-datepicker {
  font-family: 'Arial', sans-serif;
  border-radius: 2px !important;
  border: none !important;
  background-color: #fdfdfd !important;
  box-shadow: 0 4px 10px #00000056 !important;
  padding: 8px !important;
}

/* Header (month, year, etc.) style */
.react-datepicker__header {
  background-color: white !important;
  border: none !important;
  padding: 10px !important;
  color: white !important;
}

/* Style for selected date */
/* .react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #007bff !important;
  color: white !important;
} */

/* Style for the day cells */
.react-datepicker__day {
  /* color: #ff0000 !important; */
  cursor: pointer;
}

.react-datepicker__day:hover {
  background-color: #ff0000;
}

.react-datepicker__day--selected:hover {
  background-color: #0056b3 !important;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__day--outside-month {
  color: grey !important;
}

/* Base styles for both the hour and minute popups */
.popup {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
  position: absolute;
  z-index: 1000;
  width: 20%;
  top: 10 0px;
  /* Adjust based on your design */
  overflow-y: scroll;
  height: 100%;
}

/* Style for the buttons inside the popup */
.popup button {
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.popup button:hover {
  background-color: #f0f0f0;
}

.popup button:focus {
  /* background-color: #007bff; */
  color: white;
  outline: none;
}

.popup::-webkit-scrollbar {
  display: none;
}

/* Styles to match DatePicker input fields */
.time-input[type="text"] {
  padding: 10px;
  border-radius: 6px;
  /* font-size: 16px; */
  font-size: 14px !important;

  width: 100%;
  outline: none;
  border: none;
  box-shadow: 0px 1px 5px #00000050;
}

.time-input[type="text"]:focus {
  box-shadow: 0 0 3px #007bff80;
  border: none;
}

/* Popup header style */
.popup h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.hideScroller::-webkit-scrollbar {
  display: none;
}

.hideScroller {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

.animation-move-left {
  animation: initiateleft .05s forwards 1 linear;
}

@keyframes initiateleft {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(0px);
  }
}

.Toastify__toast--animate-out {
  animation: slideOutRight 0.7s forwards;
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}