.MarketDetailsbannerSection {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  border: 1px solid black;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 160px;
  width: 100vw;

  .bannerContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    position: relative;
    z-index: 2;
    width: 100%;

    .title {
      color: var(--black);
      font-size: 70px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -3.5px;
      margin-bottom: 16px;
      text-wrap: auto;
    }

    .description {
      width: 50%;
      color: var(--para-light);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 26px;
      word-spacing: 5px;
      display: block;
    }

    .view_btn {
      padding: 10px;
      font-size: 18px;
      font-weight: 500;
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  @media (max-width: 1200px) {
    padding: 10px 80px;

    .content {

      .title {
        font-size: clamp(40px, 8vw, 70px);
      }
    }
  }

  @media (max-width: 900px) {
    padding: 10px 60px;

    .content {

      .title {
        font-size: clamp(40px, 8vw, 70px);
      }
    }
  }

  @media (max-width: 600px) {
    padding: 10px 30px;

    .content {

      .title {
        line-height: 100%;
      }

      .description {
        width: 60%;
        // border: 1px solid red;
      }

      .view_btn {
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  @media (max-width: 380px) {
    // padding: 10px 30px;

    .content {

      .title {
        line-height: 100%;
      }

      .description {
        line-height: 100%;

      }
    }

  }
}

// ==== sub section of the banner=====
.subSection {
  display: flex;
  gap: 30px;
  flex-direction: row;

  padding: 80px 160px;

  @media (max-width: 1200px) {
    padding: 80px 80px;
  }

  @media (max-width: 768px) {
    flex-direction: column;

  }
}

.subheading {
  font-size: 40px;
  line-height: 28px;
  flex: 1;
  font-weight: 500;

  @media (min-width: 1024px) {
    line-height: 35px;
  }
}

.subdescription {
  font-size: 16px;
  flex: 1;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

/* ================================
   SERVICES GRID SECTION
   ================================ */

.servicesSection {
  // direction: rt;
  padding: 80px 160px 64px; // py-[80px] pb-16

  @media (max-width: 768px) {
    padding: 80px 50px;
  }

  @media (max-width: 1024px) {
    padding: 10px 70px;
  }

  &--leftAlign {
    direction: ltr;
  }
}

.servicesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px 28px; // gap-y-10, gap-x-[28px]
  grid-auto-rows: 1fr;
  padding: 2rem 0px 5rem;

  @media (min-width: 500px) and (max-width: 600px) {
    padding: 0px 10vw;
  }

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 28px;
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 28px;
  }
}

.serviceCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

  &__image {
    width: 100%;
    aspect-ratio: 2.1 / 1;
    object-fit: cover;
  }

  &__content {
    background-color: #f8f8f8;
    padding: 14px 18px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #292e3d;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__description {
    color: #292e3d;
    font-size: 12px;
    font-weight: 300;

    @media (min-width: 768px) {
      font-size: 12px;
    }
  }
}

/* ================================
   OTHER MARKETS SECTION
   ================================ */

.otherMarketsSection {
  padding: 60px 0px;
}

.otherMarketsSection__title {
  color: #292e3d;
  font-weight: 400;
  font-size: 22px;
  margin: 0 160px;
  padding: 10px 5px;

  @media (max-width: 1100px) {
    margin: 0 40px;
    padding: 16px 0;
  }

  @media (max-width: 767px) {
    margin: 0 20px;
    padding: 16px 0;
  }
}

.scrollContainer {
  overflow-x: auto;
  padding: 20px 180px;
  padding-bottom: 60px;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (max-width: 1100px) {
    padding: 16px 40px;
  }

  @media (max-width: 767px) {
    padding: 16px 20;
  }
}

.cardsRow {
  display: flex;
  gap: 28px;
  width: fit-content;
  padding-right: 38px;
  align-items: stretch;
  flex-wrap: nowrap;

  @media (max-width: 767px) {
    // flex-direction: column;
    padding: 0 38px;
  }

  &--leftAlign {
    direction: ltr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  width: 100%;

  @media (max-width: 1024px) {
    width: 437px;
  }

  @media (max-width: 768px) and (max-width: 1023px) {
    width: 437px;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    height: auto;

    @media (max-width: 1024px) {
      height: 210px;
    }

    @media (max-width: 768px) and (max-width: 1023px) {
      height: 290px;
    }
  }

  &__content {
    background-color: #f8f8f8;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 25px;
    gap: 25px;

    @media (min-width: 1024px) {
      gap: 10px;
    }
  }

  &__title {
    color: #292e3d;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
  }
}